<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spring Framework Demo</title>
</head>
<body>
    <h1>Book List</h1>

    <table>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Publisher</th>
        </tr>
        <tr th:each="book: ${books}">
            <td th:text="${book.id}">123</td>
            <td th:text="${book.name}">Spring in action</td>
            <td th:text="${book.publisher.name}">Pub</td>
        </tr>
    </table>
</body>
</html>